{%- from "openssh/map.jinja" import sshd_config with context -%}

{%- set processed_options = ['matches'] -%}
{%- set unprocessed_options = [] -%}

{%- macro option_impl(name, value, comment=False) -%}
    {%- if comment and name not in sshd_config -%}
        #
    {%- endif -%}
    {{- name ~ ' ' -}}
    {%- if value is sameas true -%}
        yes
    {%- elif value is sameas false -%}
        no
    {%- else -%}
        {{ value }}
    {%- endif -%}
{%- endmacro -%}

{%- macro option(name, default, comment=False) -%}
    {%- do processed_options.append(name) -%}
    {%- set value = sshd_config.get(name, default) -%}

    {%- if value is iterable and value is not string -%}
        {%- for val in value -%}
            {{ option_impl(name, val, comment) ~ '\n' }}
        {%- endfor -%}
    {%- else -%}
        {{ option_impl(name, value, comment) }}
    {%- endif %}
{%- endmacro -%}

# This file is managed by salt. Manual changes risk being overwritten.

# See the sshd_config(5) manpage for details

# What ports, IPs and protocols we listen for
{{ option('Port', 22) }}
# Use these options to restrict which interfaces/protocols sshd will bind to
{{ option('ListenAddress', [
    '::',
    '0.0.0.0',
], comment=True) -}}
{{ option('Protocol', 2) }}
# HostKeys for protocol version 2
{{ option('HostKey', [
    '/etc/ssh/ssh_host_rsa_key',
    '/etc/ssh/ssh_host_dsa_key',
    '/etc/ssh/ssh_host_ecdsa_key',
    '/etc/ssh/ssh_host_ed25519_key',
]) -}}
#Privilege Separation is turned on for security
{{ option('UsePrivilegeSeparation', True) }}

# Lifetime and size of ephemeral version 1 server key
{{ option('KeyRegenerationInterval', 3600) }}
{{ option('ServerKeyBits', 1024) }}

# Logging
{{ option('SyslogFacility', 'AUTH') }}
{{ option('LogLevel', 'INFO') }}

# Authentication:
{{ option('LoginGraceTime', 120) }}
{{ option('PermitRootLogin', 'without-password') }}
{{ option('StrictModes', True) }}

{{ option('RSAAuthentication', True) }}
{{ option('PubkeyAuthentication', True) }}
{{ option('AuthorizedKeysFile', '%h/.ssh/authorized_keys', comment=True) }}

# Don't read the user's ~/.rhosts and ~/.shosts files
{{ option('IgnoreRhosts', True) }}
# For this to work you will also need host keys in /etc/ssh_known_hosts
{{ option('RhostsRSAAuthentication', False) }}
# similar for protocol version 2
{{ option('HostbasedAuthentication', False) }}
# Uncomment if you don't trust ~/.ssh/known_hosts for RhostsRSAAuthentication
{{ option('IgnoreUserKnownHosts', True, comment=True) }}

# To enable empty passwords, change to yes (NOT RECOMMENDED)
{{ option('PermitEmptyPasswords', False) }}

# Change to yes to enable challenge-response passwords (beware issues with
# some PAM modules and threads)
{{ option('ChallengeResponseAuthentication', False) }}

# Change to no to disable tunnelled clear text passwords
{{ option('PasswordAuthentication', True, comment=True) }}

# Kerberos options
{{ option('KerberosAuthentication', False, comment=True) }}
{{ option('KerberosGetAFSToken', False, comment=True) }}
{{ option('KerberosOrLocalPasswd', True, comment=True) }}
{{ option('KerberosTicketCleanup', True, comment=True) }}

# GSSAPI options
{{ option('GSSAPIAuthentication', False, comment=True) }}
{{ option('GSSAPICleanupCredentials', True, comment=True) }}

{{ option('X11Forwarding', True) }}
{{ option('X11DisplayOffset', 10) }}
{{ option('PrintMotd', False) }}
{{ option('PrintLastLog', True) }}
{{ option('TCPKeepAlive', True) }}
{{ option('UseLogin', False, comment=True) }}

{{ option('MaxStartups', '10:30:60', comment=True) }}
{{ option('Banner', '/etc/issue.net', comment=True) }}

# Allow client to pass locale environment variables
{{ option('AcceptEnv', 'LANG LC_*') }}

{{ option('Subsystem', 'sftp /usr/lib/openssh/sftp-server') }}

# Set this to 'yes' to enable PAM authentication, account processing,
# and session processing. If this is enabled, PAM authentication will
# be allowed through the ChallengeResponseAuthentication and
# PasswordAuthentication.  Depending on your PAM configuration,
# PAM authentication via ChallengeResponseAuthentication may bypass
# the setting of "PermitRootLogin without-password".
# If you just want the PAM account and session checks to run without
# PAM authentication, then enable this but set PasswordAuthentication
# and ChallengeResponseAuthentication to 'no'.
{{ option('UsePAM', True) }}

{#- Handling unknown in salt template options -#}
{%- for name in sshd_config.keys() %}
    {%- if name not in processed_options %}
        {%- do unprocessed_options.append(name) -%}
    {%- endif %}
{%- endfor %}

{%- if unprocessed_options %}

# Misc Options
{%- for name in unprocessed_options|sort %}
{{ option(name, '') }}
{%- endfor %}
{%- endif %}

{%- for name, match in sshd_config.get('matches', {})|dictsort %}

Match {{ match['type'].keys()[0] }} {{ match['type'].values()[0] }}
    {%- for key, value in match['options']|dictsort %}
    {{ option_impl(key, value) }}
    {%- endfor %}
{%- endfor %}
