{## Start with  defaults from defaults.yaml ##}
{% import_yaml "openssh/defaults.yaml" as default_settings %}

{%- set distro_release = salt['grains.get']('osmajorrelease')|string -%}
{%- set release_dir = {
    'Debian': {
        '8': 'debian8',
        '9': 'debian9',
        '10': 'debian10',
        '11': 'debian11',
    }.get(distro_release, 'debian11'),
    'RedHat': {
        '7': 'centos7',
        '8': 'centos8',
    }.get(distro_release, 'centos8'),
}.get(salt['grains.get']('os_family')) -%}

{## 
Setup variable using grains['os_family'] based logic, only add key:values here
that differ from whats in defaults.yaml
##}
{% set os_family_map = salt['grains.filter_by']({
    'Arch': {
      'server': 'openssh',
      'client': 'openssh',
      'service': 'sshd',
      'dig_pkg': 'bind-tools',
    },
    'Debian': {
      'server': 'openssh-server',
      'client': 'openssh-client',
      'service': 'ssh',

      'ssh_config_src': 'salt://openssh/files/{}/ssh_config.jinja'.format(release_dir),
      'sshd_config_src': 'salt://openssh/files/{}/sshd_config.jinja'.format(release_dir),
    },
    'FreeBSD': {
      'service': 'sshd',
      'dig_pkg': 'bind-tools',
      'root_group': 'wheel',
    },
    'OpenBSD': {
      'service': 'sshd',
      'root_group': 'wheel',
    },
    'Gentoo': {
      'server': 'net-misc/openssh',
      'client': 'net-misc/openssh',
      'service': 'sshd',
      'dig_pkg': 'net-dns/bind-tools',
    },
    'RedHat': {
      'server': 'openssh-server',
      'client': 'openssh-clients',
      'service': 'sshd',
      'dig_pkg': 'bind-utils',

      'ssh_config_src': 'salt://openssh/files/{}/ssh_config.jinja'.format(release_dir),
      'sshd_config_src': 'salt://openssh/files/{}/sshd_config.jinja'.format(release_dir),
    },
    'Suse': {
      'server': 'openssh',
      'client': 'openssh',
      'service': 'sshd',
      'dig_pkg': 'bind-utils',
    },
  }
  , grain="os_family"
  , merge=salt['pillar.get']('openssh:lookup'))
%}

{## Merge the flavor_map to the default settings ##}
{% do default_settings.openssh.update(os_family_map) %}

{## Merge in openssh:lookup pillar ##}
{% set openssh = salt['pillar.get'](
    'openssh',
    default=default_settings.openssh,
    merge=True
  )
%}

{% set os_family_map = salt['grains.filter_by']({
    'FreeBSD': {
        'Subsystem': 'sftp /usr/libexec/sftp-server',
    },
    'OpenBSD': {
        'Subsystem': 'sftp /usr/libexec/sftp-server',
    },
    'Suse': {
        'Subsystem': 'sftp /usr/lib/ssh/sftp-server',
    },
    'Arch': {
        'Subsystem': 'sftp /usr/lib/ssh/sftp-server',
    },
    'default': {}
  }
  , grain="os_family"
  , merge=salt['pillar.get']('sshd_config:lookup'))
%}


{## Merge the flavor_map to the default settings ##}
{% do default_settings.sshd_config.update(os_family_map) %}

{## Merge in sshd_config:lookup pillar ##}
{% set sshd_config = salt['pillar.get'](
    'sshd_config',
    default=default_settings.sshd_config,
    merge=True
  )
%}
